.freepik_stories-mind-map:not(.animated) .animable {
    opacity: 0;
}

.animator-active {
    animation: 1.5s Infinite linear wind;
    animation-delay: 0s;
}

@keyframes wind {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    75% {
        transform: rotate(-1deg);
    }
}
